<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/pages/">Pages</a></li>
	        	<li><a href="/pages/about">About</a></li>
        		<li><a href="/pages/cv">CV</a></li>
        		<li><a href="/blog/">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cctechwiz@gmail.com">email</a></li>
        		<li><a href="https://github.com/cctechwiz">github.com/cctechwiz</a></li>
			</ul>
		</footer>
	</body>
</html>
